.DS_Store
wandb/
log/
gen_data/
*.egg-info/
*.pyc
__pycache__
.mypy_cache
.vscode

third_party/retro_star/
third_party/GCN/model_gin

llm_cache/
standalone/

data/ludii/ebnf/
data/ludii/expand/
data/ludii/lud/

grammars/ludii/parse_errors/
*.jar
*.class
.env
analyze
grammar
concepts
trials
sft/data
jars
tars
save_results